$headerColor : lightblue;
@import './functions';

.header{
    @include flexDisplay($alignItem:space-evenly);
    color: $headerColor;
    >.Button{
        color: $headerColor;
        .Label{
            padding: 10px;
        }
    }
}

@import './body';
